@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
  @apply h-full text-pearl-white;
  background: linear-gradient(to bottom, #002B49, #0077B6);
  background-attachment: fixed;
}

html,
body {
  font-family: Microsoft JhengHei, Heiti TC, LiHei Pro, Apple LiGothic Medium;
}

.glass-card {
  @apply bg-white/5 backdrop-blur-md border border-white/10 rounded-2xl shadow-xl transition-colors duration-500;
}